/*About Page*/
body {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about{
    height: 80vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .main{
    margin-bottom: 100px;
}

.about .main img{
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}

.all-text{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}

.main{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h4{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    color: #777777;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}

.all-text h2{
    font-size: 60px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Dosis',sans-serif;
}

.all-text p{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    color: #777777;
    line-height: 30px;
    margin-bottom: 35px;
}

.button button{
    background: white;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: bold;
    font-weight: bold;
    color: #111111;
    border: none;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgb(0 0 0 /25%);
    margin-right: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.button button:hover{
    background-color: #1d44f9;
    color: white;
}


@media screen and (max-width:1250px){
    .about{
        width: 100%;
        height: auto;
        padding: 60px 0;
    }

    .all-text{
        text-align: center;
        margin-top: 40px;
    }
@media screen and (max-width:650px) {
    .about .main img{
        margin-bottom: 35px;
    }
    .all-text h1{
        font-size: 45px;
        margin-bottom: 20px;
    }
}
}