.root{
    display: flex;
    flex-direction: column;
}

.main{
    max-width: 112rem;
    padding: 0 2.5rem 0 1.25rem;

    box-sizing: border-box;
    margin: 0 auto;

    display: block;
}

.grid_content{
    grid-column-gap: 1.25rem;
    display: grid;
    grid-template-columns: repeat(13,minmax(0,1fr));
}

.content{
    grid-column: 2/14;
    grid-row: 1;
}

.cartpage_wrapper{
    -webkit-font-smoothing: antialiased;
}

.cart_page{
    width: 100rem;
    max-width: 100%;
}

.cart_h1{
    margin: 5.5rem 0 3rem;

    font-size: 2.25rem;
    letter-spacing: -.0063em;
    line-height: 1.333;

    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-weight: 700;
}

.cartpage_content{
    flex-direction: inherit;
    justify-content: space-between;

    display: flex;
}

.cartpage_carlist_wrapper{
    margin-inline-end: 3rem;

    flex: 2 1 32rem;

    position: relative;
}

.text_of_item{
    margin-block-end: 1rem;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.cartList{
    border-block-end: 0;
}

.cartItem_wrapper{
    border-block-start: 1px solid #d3d3d3;
    max-height: 250rem;
    overflow: hidden;
    position: relative;
    transition: max-height .8s cubic-bezier(.4,0,.4,1);
}

.cartItem{
    font-size: .875rem;

    padding: 2.5rem 0;
}

.cartItem_detailsWrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.item_image{
    height: 8.75rem;
    max-height: 8.75rem;
    max-width: 8.75rem;
    width: 8.75rem;

    display: block;
    position: relative;
}

.cartItem_info{
    margin-inline-start: 4rem;

    flex: 1 1;
}

.item_info_wrapper{
    padding-top: 1.375rem;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    display: flex;
    line-height: 1;
}

.item_info{
    flex: 1 1;
    margin-inline-end: 1rem;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}

.item{
    margin-bottom: 0.25rem;

    font-size: .875rem;
    line-height: 1.571;

    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-weight: 700;
    text-transform: uppercase;
}

.item_details{
    display: block;
    font-weight: 400;
    text-transform: none;
}

.detail{
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.measurement{
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.price_container{
    display: block;
    line-height: 1;
}

.price_pricewrapper{
    line-height: 1.571;
    font-size: .875rem;
    margin-inline-end: 0;
    margin-bottom: 0.25rem;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-weight: 700;
    position: relative;
}

.left_price_currency{
    font-size: 1em;
    line-height: 1;
    top: auto;

    unicode-bidi: bidi-override;

    position: relative;
}

.cartItem_itemOption{
    align-items: center;
    display: flex;
    gap: 0.25rem;
    margin-block-start: 2rem;
}

.quantity_wrapper{
    padding: 0 0.25rem;
    align-items: center;
    background-color: rgb(var(--colour-interactive-subtle-bg-default,255,255,255));
    border: 0;
    border-radius: 64px;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    height: 40px;
    width: 120px;

    border: 1px solid #a1a1a1;
}

.stepper_input{
    width: 5ch;
    padding: 0.5rem 0.25rem;
    background-color: rgb(var(--colour-interactive-subtle-bg-default,255,255,255));
    border: none;
    box-sizing: initial;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-weight: 700;
    max-width: 5ch;
    min-width: 2.5rem;
    order: 2;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    overflow: visible;
    line-height: 1.5;
    margin: 0;
    outline: none;
    height: 10px;
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

.quantity_option_btn_increase{
    order: 3;

    font-size: .75rem;
    line-height: 1.3333333333;

    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    text-decoration: none;

    background: none;
    border: 0;
    border-radius: 64px;
    height: 30px;
    width: 30px;
    align-items: center;
    cursor: pointer;
    display: inline-flex; 
    font-weight: 700;
    outline: 0;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: top;

    font-family: inherit;

    text-transform: none;

    overflow: visible;
    margin: 0px;
}

.quantity_option_btn_increase:hover{
    background-color: #d3d3d3;
}

.btn_inner_plus{
    min-height: 2rem;
    padding: 0 0.25rem;

    align-items: center;
    border-radius: 64px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    transition-duration: .25s;
    transition-property: opacity,transform,-webkit-transform;
    transition-timing-function: cubic-bezier(.4,0,.4,1);
    width: 100%;
}

.quantityOption{
    margin: 10px;
    transition-duration: .2s;
    transition-property: opacity,margin-right,margin-left,transform,-webkit-transform;
    transition-timing-function: cubic-bezier(.4,0,.4,1);
    flex-shrink: 0;
    fill: currentColor;
    display: flex;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.quantity_option_btn_decrease{
    order: 1;

    font-size: .75rem;
    line-height: 1.3333333333;

    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    text-decoration: none;

    background: none;
    border: 0;
    border-radius: 64px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: inline-flex;
    font-weight: 700;
    outline: 0;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: top;
    text-transform: none;
    overflow: visible;
    margin: 0;
}

.quantity_option_btn_decrease:hover{
    background-color: #d3d3d3;
}

.btn_inner_minus{
    min-height: 2rem;
    padding: 0 0.25rem;
    align-items: center;
    border-radius: 64px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    transition-duration: .25s;
    transition-property: opacity,transform,-webkit-transform;
    transition-timing-function: cubic-bezier(.4,0,.4,1);
    width: 100%;
    outline: none;
}

.remove_btn{
    font-size: .75rem;
    line-height: 1.3333333333;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    text-decoration: none;
    background: none;
    border: 0;
    border-radius: 64px;
    cursor: pointer;
    display: inline-flex;
    font-weight: 700;
    outline: 0;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: top;
    font-family: inherit;
    text-transform: none;
    overflow: visible;
    margin: 0;
}

.prefix_btn_inner{
    min-height: 2.5rem;
    padding: 0 1.5rem;
    align-items: center;
    border-radius: 64px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    transition-duration: .25s;
    transition-property: opacity,transform,-webkit-transform;
    transition-timing-function: cubic-bezier(.4,0,.4,1);
    width: 100%;
}

.prefix_btn_inner:hover{
    background-color: #d3d3d3;
}

.btn_label{
    transition-duration: .2s;
    transition-property: opacity,margin-right,margin-left,transform,-webkit-transform;
    transition-timing-function: cubic-bezier(.4,0,.4,1);
}

.cartpage_summary{
    max-width: 32rem;
    width: 100%;
    display: block;
}

.summary{
    inset-block-start: 5.5rem;
    margin: 0;
    max-width: 32rem;
    position: sticky;
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-flow: column wrap;
}

.summary_h3{
    margin-block-end: 1rem;
    margin-block-start: 0;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
}

.summary_sub_row{
    display: flex;
    justify-content: space-between;
    margin-block-end: 0.5rem;
}

.text_of_total_product{
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.summary_total_price{
    font-size: .875rem;
    font-weight: 400;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    line-height: 1;
    position: relative;
}

.summary_price_currency{
    font-size: 1em;
    line-height: 1;
    top: auto;
    unicode-bidi: bidi-override;
    position: relative;
}

.summary_row{
    border-block-start: 2px solid rgb(var(--colour-neutral-7,17,17,17));
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-weight: 900;
    margin-block-start: 2rem;
    padding-block-start: 2rem;
    display: flex;
    justify-content: space-between;
    margin-block-end: 0.5rem;
}

.text_of_subtotal{
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-size: 1rem;
    line-height: 1.625;
}

.summary_price_currency{
    font-size: 1.0625rem;
    top: -0.727em;
    unicode-bidi: bidi-override;
    line-height: 1.3;
    position: relative;
}

.summary_price_integer{
    font-size: 1.75rem;
}

.privacy_policy{
    margin: 0.75rem 0;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .75rem;
    line-height: 1.5;
}

.privacy_policy_a{
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-weight: 400;
    text-decoration: underline;
    background-color: transparent;
    position: relative;
}

.summary_button_wrapper{
    margin-block-end: 2rem;
    width: 100%;
}

.Checkout_button{
    outline: none;
    width: 100%;
    color: rgb(var(--colour-static-white,255,255,255));
    text-decoration: none;
    background: none;
    border: 0;
    border-radius: 64px;
    cursor: pointer;
    display: inline-flex;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.4285714286;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: top;
    font-family: inherit;
    text-transform: none;
    overflow: visible;
    margin: 0;
}

.Checkout_btn_inner{
    width: 100%;
    background: #000;
    align-items: center;
    border-radius: 64px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    min-height: 3.5rem;
    padding: 0 2rem;
    transition-duration: .25s;
    transition-property: opacity,transform,-webkit-transform;
    transition-timing-function: cubic-bezier(.4,0,.4,1);
    transition: .3s;
}

.Checkout_btn_inner:hover{
    background: #a1a1a1;
}

/* toast */

.wrapperT {
    position: fixed;
    top: 30px;
    right: 20px;
  }
  
  .toast {
    width: 400px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
  }
  
  .toast_success {
    width: 100%;
    height: 70px;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 9px 12px #0002;
    border-radius: 7px;
    text-align: center;
    border-left: 8px solid #04c127;
  }
  
  .toast .container {
    display: flex;
    align-items: center;
  }
  
  .toast .icon i {
    font-size: 1.75rem;
    color: #04c127;
  }
  
  .toast .message {
    font-size: 1.07rem;
    margin-left: 12px;
    flex: 1;
  }
  
  .toast .close-icon i {
    color: #aeb0d7;
    cursor: pointer;
    margin-left: 1rem;
    font-size: 25px;
  }
  
  .toast .close-icon i:hover {
    color: var(--dark);
  }
  
  @keyframes show_toast {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
  }
  
  /* end toast */