*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contact_title{
    color: #111;
    font-weight: 900;
}

.box{
    position: relative;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}


.map{
    grid-area: map;
}

.contact{
    padding: 40px;
    background: #fff;
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3{
    color: #111;
    font-weight: 500px;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* form */
.issue_type_wrapper{
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
    width: 510px;
    border: none;
}

.cust_service_desc_wrapper{
    margin: 10px 0px;
}


.formBox{
    position: relative;
    width: 100%;
    background: #ececec;
    border-radius: 20px;
}

.formBox .row50{
    display: flex;
    gap: 20px;
    
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
    
}

.formBox .row50 .inputBox{
    width: 100%;
}

.inputBox input{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 2px solid #e7e7e7;
    border-radius: 30px;
}

.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 2px solid #e7e7e7;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.inputBox input[type="submit"]{
    background: rgb(var(--colour-interactive-emphasised-bg-default,0,88,163));
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox input[type="submit"]:hover{
    background: #004683;
}


.inputBox::placeholder{
    color: #999;
}

/* info */
.contact{
    background: #ececec;
    border-radius: 20px;
}

.info h3{
    color: #111;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #111;
    font-size: 1.1em;
}

.info .infoBox div a{
    color: #111;
    text-decoration: none;
    font-size: 1.1em;
}

.sci ul{
    margin-top: 40px;
    display: flex;

}

.sci li {
    width: 45px;
    height: 45px;
    background: linear-gradient(to right, #ebecf0, white);
    margin-right: 10px;
    border-radius: 50px;
    text-align: center;
    line-height: 45px;
    list-style: none;
    margin-bottom: 2rem;
    transition: all 0.5s ease;
}

.sci li a{
    color :#484848;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: block;
    font-size: 1.5em;
    outline: auto;
    border-radius: 50px;
}

.sci li a:hover{
    color: #f5f5f5;
    background: rgb(var(--colour-interactive-emphasised-bg-default,0,88,163));
}

.map{
    padding: 0;
    background: #ececec;
    border-radius: 20px;
}

.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* responsive design */
@media (max-width: 991px){

    .contactUs{
        padding: 20px;
    }

    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form" "info" "map";
    }

    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputBox{
        width: 100%;
    }
    .contact{
        min-height: 300px;
        padding: 30px;
    }
}

/* drop image design */

.drop_image_container{
    grid-column: 2/span 11;
    justify-self: stretch;
    margin-bottom: 2rem;
}

ul{
    list-style: none;
}

.file_container{
    max-width: 500px;
    width: 250px;
}

.file_upload{
    border: 2px dashed #ababab;
    position: relative; 
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    display: flex;   
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: #fff;
}

.file_upload input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.drop_text{
    font-weight: 400;
    font-size: 0.875rem;
    color: #484848;
}

.add_file{
    border: 0;
    outline: 0;
    border-radius: 50%;
    color: #fff;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-background: #b2b2b2;
    background: #b2b2b2;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.add_file_icon{
    font-size: 1.3rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.file_upload:hover button{
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}

.list_upload{
    padding: 0 1rem;
}

.list_upload ul li{
    position: relative;
    display: flex;
    margin: 2rem 0;
    padding-right: 2rem;
}

.list_upload .thumbnail{
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 7px;
    background-color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.list_upload .thumbnail > i {
    font-size: 2rem;
    color: #000;
    display: none;
}

.file_list.image .thumbnail > [name="image_outline"],
.file_list.video .thumbnail > [name="videocam_outline"] {
    font-size: 2rem;
    color: #000;
    display: block;
}

.list_upload .thumbnail .complete{
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2ecc71;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.properties{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    gap: 5px;
}

.properties .titles{
    font-size: 0.875rem;
    font-weight: 700;
    word-break: break-word;
}

.properties .size{
    color: #484848;
    font-size: 12px;
}

.list_upload .properties :where(.progress,.buffer){
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.list_upload .properties .buffer{
    width: 50%;
    background: linear-gradient(90deg, #82f4b1 0%, #2ecc71 100%);
    -webkit-background: linear-gradient(90deg, #82f4b1 0%, #2ecc71 100%);
}

.list_upload .properties .percentage{
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 10px;
}

.remove{
    position: absolute;
    right: 0;
    top: 50%;
    border: 0;
    outline: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border-radius: 50%;
    background-color: #ff6b81;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.remove:hover{
    background: #ff0026;
}

.list_upload ul li {
    width: 500px; /* Set width for li with class "image" */
}

/* toast */

.wrapperT {
    position: fixed;
    top: 30px;
    right: 20px;
  }
  
  .toast {
    width: 400px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
  }
  
  .toast_success {
    width: 100%;
    height: 70px;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 9px 12px #0002;
    border-radius: 7px;
    text-align: center;
    border-left: 8px solid #04c127;
  }
  
  .toast .container {
    display: flex;
    align-items: center;
  }
  
  .toast .icon i {
    font-size: 1.75rem;
    color: #04c127;
  }
  
  .toast .message {
    font-size: 1.07rem;
    margin-left: 12px;
    flex: 1;
  }
  
  .toast .close-icon i {
    color: #aeb0d7;
    cursor: pointer;
    margin-left: 1rem;
    font-size: 25px;
  }
  
  .toast .close-icon i:hover {
    color: var(--dark);
  }
  
  @keyframes show_toast {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
  }
  
  /* end toast */