*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../img/login_reg_back.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-root{
    width: 800px;
    min-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 40px 30px;
  }

  .title{
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
    display: block;
    text-transform: capitalize;
  }

  .address_name{
    
  }

  .btn{
    width: 40%;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: rgb(162, 155, 254);
    outline: none;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    margin: 30px 400px 0px 20px;
}

.btn:hover{
    transform: translateY(-5px);
    background: #6c5ce7;
}

.pub_info{
    display: flex;
    margin: 0 0 5px 0;
    justify-content: space-between;
}

.address_name{
  width: 150px;
}

.pub_info a{
    margin: 0 0 5px 10%;
    text-decoration: none;
    outline: none;
    color: #08f;
}

.pub_info p{
    margin: 0 0 0 5px;
}

.containers{
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    padding: 20px 15px;
    margin-bottom: 10px;
}

.containers p{
    color: #465b52;
}

.remove_btn{
    text-align: right;
    background: #fff;
    border: none;
    cursor: pointer;
    color: #a29bfe;
    transition: .3s;
}

.remove_btn:hover{
    transform: translateY(-5px);
    color: #6c5ce7;
}

/* toast */

.wrapper {
  position: fixed;
  top: 30px;
  right: 20px;
}

.toast {
  width: 400px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--light);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
}

.toast_success {
  width: 100%;
  height: 70px;
  padding: 20px;
  background: #fff;
  box-shadow: 2px 9px 12px #0002;
  border-radius: 7px;
  text-align: center;
  border-left: 8px solid #04c127;
}

.toast .container {
  display: flex;
  align-items: center;
}

.toast .icon i {
  font-size: 1.75rem;
  color: #04c127;
}

.toast .message {
  font-size: 1.07rem;
  margin-left: 12px;
  flex: 1;
}

.toast .close-icon i {
  color: #aeb0d7;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 25px;
}

.toast .close-icon i:hover {
  color: var(--dark);
}

@keyframes show_toast {
  0% {
      transform: translateX(100%);
  }
  40% {
      transform: translateX(-5%);
  }
  80% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-10px);
  }
}

/* end toast */

.btns{
    margin: 5px 0 0 0;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 30px;
    padding: 5px 10px;
    outline: none;
    border: none;
    background: #a29bfe;
    color: #fff;
    transition: .3s;
}

.btns:hover{
    transform: translateX(5px);
    background: #6c5ce7;
}
  
  /* .containerss {
    
    }

.login-text {
    
}




.btn{
    width: 40%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #000;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin: 20px 400px 0px 20px;
}

.btn:hover {
    transform: translateY(-5px);
    background: #484848;

}

select{
    color: #777;
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

select:valid{
    color: #000;
    border-color: #000;
}








.btnss{
    width: 40%;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: rgb(162, 155, 254);
    outline: none;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    margin: 30px 400px 0px 20px;
}

.btnss:hover{
    transform: translateY(-5px);
    background: #6c5ce7;
}



.input-group{
    
} */