*{
  margin: 0;
  padding: 0;
  font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif;
  list-style: none;
}
body{
  background-color: white;
}

.content{
  margin: 20px;
}



/* main */

::selection{
  color: #fff;
  background: #007bff;
}

.text-title{
color: #111111;
font-size: 32px;
line-height: 1.45;
letter-spacing: -0.0042em;
margin: 0px 0px 4px;
min-width: 37.5em;
font-weight: 700;
margin-bottom: 1.25rem;
}

.wrapper{
  margin: 5px auto;
  max-width: 1100px;
}
.wrapper nav{
  display: flex;
  justify-content: center;
}
.wrapper .items{
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.items a{
  padding: 0.7rem 24px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #111111;
  border-radius: 50px;
  border: 2px solid #f5f5f5;
  background: #f5f5f5;
  transition: all 0.3s ease;
}

.items a:hover{
  background: #d4d4d3;
}

.items a.active{
  color: #111111;
  border: 1px solid #000;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery .image{
  width: 338px;
  padding: 7px;
  margin: 0px 10px;
  border-radius: 10px;
}
.gallery .image span{
  display: flex;
  overflow: hidden;
}
.gallery .image img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image_form:hover img{
  transform: scale(1.1);
}
.gallery .image.hide{
  display: none;
}
.gallery .image.show{
  animation: animate 0.4s ease;
}
@keyframes animate {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}
.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  font-weight: 500;
  margin-left: 5px;
}
.details .icon{
  color: #007bff;
  font-style: 22px;
  cursor: pointer;
}
.preview-box .image-box{
  width: 100%;
  display: flex;
}
.image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.4);
}
.shadow.show{
  display: block;
}
@media (max-width: 1000px) {
  .gallery .image{
    width: calc(100% / 3);
    
  }
}
@media (max-width: 800px) {
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .wrapper nav .items{
    max-width: 600px;
  }
  nav .items span{
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper{
    margin: 30px auto;
  }
  .wrapper nav .items{
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span{
    margin: 5px;
  }
  .gallery .image{
    width: 100%;
  }
}

.product_details{
  margin-block-start: 0.75rem;
}

.product_details_a{
  text-decoration: none;
  overflow-wrap: anywhere;
  color: rgb(var(--colour-text-and-icon-2,72,72,72));
  position: relative;
}

.product_details_wrapper{
  margin-top: 1.375rem;
  margin-block-end: 0.5rem;
  color: rgb(var(--colour-text-and-icon-2, 72, 72, 72));
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.product_item_details{
  margin-bottom: 0.5rem;
}

.details{
  font-size: .875rem;
  line-height: 1.571;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(var(--colour-text-and-icon-1, 17, 17, 17));
}

.item_details{
  display: block;
  text-transform: none;
  font-weight: 400;
}

.item_price_grid {
  gap: 0.5rem;
  line-height: 1;
  order: 3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0; /* Add this line to set font size to zero */
}

.item_price_wrapper {
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
  margin-inline-end: 0.5rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
  color: rgb(var(--colour-text-and-icon-1, 17, 17, 17));
}

.item_price_currency {
  top: -0.727em;
  font-size: .5em;
  line-height: 1.3;
}

.button_container{
  margin-block-start: 0.75rem;
}

.function_button_container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  margin-inline-start: auto;
}

.addToCart_btn{
  font-size: .75rem;
  line-height: 1.3333333333;
  color: #fff;
  background: #000;
  border-radius: 64px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
  text-decoration: none;
  border: none;
}

.addToCart_btn:hover{
  background: #484848;
}

.btn_inner{
  padding: 0 0.5rem;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.addToCart_icon{
  margin: 0.5rem 0.5rem;
  flex-shrink: 0;
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  font-size: 24px;
}

.wishList_btn{
  border-radius: 64px;
  cursor: pointer;
  background: none;
  border: none;
}

.wishList_icon{
  flex-shrink: 0;
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  font-size: 24px;
}

.wishList_btn:hover{
  background: #e4e4e4;
}

.image_form:hover .item_name {
  text-decoration: underline;
}

/* toast */

.wrapperT {
  position: fixed;
  top: 30px;
  right: 20px;
}

.toast {
  width: 400px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--light);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
}

.toast_success {
  width: 100%;
  height: 70px;
  padding: 20px;
  background: #fff;
  box-shadow: 2px 9px 12px #0002;
  border-radius: 7px;
  text-align: center;
  border-left: 8px solid #04c127;
}

.toast .container {
  display: flex;
  align-items: center;
}

.toast .icon i {
  font-size: 1.75rem;
  color: #04c127;
}

.toast .message {
  font-size: 1.07rem;
  margin-left: 12px;
  flex: 1;
}

.toast .close-icon i {
  color: #aeb0d7;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 25px;
}

.toast .close-icon i:hover {
  color: var(--dark);
}

@keyframes show_toast {
  0% {
      transform: translateX(100%);
  }
  40% {
      transform: translateX(-5%);
  }
  80% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-10px);
  }
}

/* end toast */