*{
    margin: 0;
    padding: 0;
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif;
    list-style: none;
  }

  .footer_content{
    margin: 20px;
  }


/* Footer */
.title{
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
  }
  
  .footer{
    display: block;
    background-color: #f5f5f5;
    padding: 0px;
  }
  
  .social_media ul{
    display: flex;
  }  
  
  .social_media ul li{
    width: 45px;
    height: 45px;
    background: linear-gradient(to right, #ebecf0, white);
    margin-right: 10px;
    border-radius: 50px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 2rem;
    transition: all 0.5s ease;
  }
  
  .social_media ul li a{
    color :#484848;
    display: block;
    font-size: 18px;
    outline: auto;
    border-radius: 50px;
  }
  
  .social_media a:hover{
    color: #f5f5f5;
    background-color: #000;
  }
  
  .member_btn .btn{
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    text-align: center;
    border: none;
    background: #000;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 2rem;
  }
  
  .btn:hover {
    transform: translateY(-5px);
    background: #484848;
  }
  
  .line{
    margin-bottom: 3rem;
  }
  
  /* */
  .row{
  display: flex;
  flex-wrap: wrap;
  }
  
  .footer-col{
    padding-left: 9rem;
  }
  
  .footer-col h4{
  margin-bottom: 0.5rem;
  }
  
  .footer-col ul li:not(:last-child){
  margin-bottom: 10px;
  }
  
  .footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #7a7a7a;
  display: block;
  transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover{
  color: #000;
  padding-left: 8px;
  }
  
  .inf{
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 700px;
    color: #111;
  }