@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 95vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../img/login_reg_back.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
}

.login-text {
    color: #111;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 800;
}

.input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.input-group input:valid {
    border-color: #a29bfe;
}

.btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}

.login-register-text {
    color: #111;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color: #a29bfe;
    transition: .3s;
}

.login-register-text a:hover{
    color: #6c5ce7;
}

a{
    color: #111;
    text-decoration: none;
}

.str{
    margin: 0 0 0 10px;
}

.input-groups{
    width: 100%;
    height: 50px;
    margin-bottom: 35px;
}

.input-groups input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.input-groups input:valid {
    border-color: #a29bfe;
}

.error{
    color: red;
}
