.purchase_container{
    display: flex;
    padding: 1.25rem 3.125rem;
}

.purchase_container_grid{
    position: relative;
    flex-grow: 1;
    width: 980px;
    box-sizing: border-box;
    margin-left: 1.6875rem;
    min-width: 0;
    background: #fff;
    /* box-shadow: 0 1px 2px 0 rgba(0,0,0,.13); */
    border-radius: 0.125rem;
    display: block;
}

.purchase_main_content{
    display: block;
}

.purchase_content{
    display: block;
}

.purchase_filter{
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #f5f5f5;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-radius: 10px;
}

.filter_item_container{
    border-color: 1px solid #ee4d2d;
}

.filter_item_container:hover{
    color: #ee4d2d;
}

.filter_item_container{
    cursor: pointer;
    user-select: none;
    padding: 16px 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: flex;
    flex: 1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    transition: color .2s;
}

.filter_text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration: none;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));

}

.filter_item_container .filter_text:hover{
    color: #ee4d2d;
}

.serach_purchase_item_container{
    display: block;
}

.serach_purchase_item_size{
    padding: 0px 0;
    margin: 12px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    color: #212121;
    background: #eaeaea;
    border-radius: 2px;
    border-radius: 5px;
}

.icon_container{
    margin: 0 15px;
    stroke: #bbb;
    overflow: hidden;
    width: 19px;
    height: 19px;
    overflow-clip-margin: content-box;
}

.search_icon{
    stroke-width: 1;
    fill: none;
    fill-rule: evenodd;
    transform-origin: 0px 0px;
    color: #bbb;
    font-size: 20px;
}

.search_input{
    flex: 1;
    font-size: 14px;
    line-height: 16px;
    border: 0;
    outline: none;
    background-color: inherit;
    padding: 15px 0px;
}

.serach_purchase_item_size .search_icon {
    color: #bbb; /* Set the initial color here */
    transition: color 0.1s;
}

.main_content{
    display: block;
}

.item_details_container{
    display: block;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,.16);
    border-radius: 10px;
}

.item_container{
    margin: 20px 0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: 0.125rem;
    background: #f6f6f6;
}

.user_purchase_item_container{
    padding-top: 24px;
    padding: 12px 24px;
    background: #fff;
}

.status_container{
    display: block;
}

.status_grid{
    padding: 0 0 12px;
}

.status_wrapper {
    display: flex;
    justify-content: space-between;
}

.order_id {
    display: inline-block;
}

.status{
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
}

.item_content_detail_a{
    text-decoration: none;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    cursor: pointer;
}

.item_content_detail_grid{
    display: flex;
    word-wrap: break-word;
    padding: 12px 0 12px 0;
    align-items: center;
    flex-wrap: nowrap;
    color: rgba(0,0,0,.87);
    border-top: 1px solid rgb(var(--colour-neutral-3,223,223,223));
    border-bottom: 1px solid rgb(var(--colour-neutral-3,223,223,223));
}

.item_detail_grid{
    padding: 0 12px 0 0;
    flex: 1;
    align-items: flex-start;
    flex-wrap: nowrap;
    display: flex;
    word-wrap: break-word;
}

.item_image{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    background: #e1e1e1;
}

.image_container{
    margin-right: 40px;
}

.item_detail{
    font-size: .875rem;
    line-height: 1.571;
    font-weight: 700;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    text-transform: uppercase;
}

.items_details_wrapper{
    display: block;
    font-weight: 400;
    order: 2;
    text-transform: none;
}

.category{
    display: inline-block;
    margin-inline-end: 0.25rem;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.details{
    display: inline-block;
    margin-inline-end: 0.25rem;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.items_quantity{
    display: flex;
    justify-content: space-between;
}

.quantity_text{
    margin-block-end: 0.25rem;
    display: flex;
    font-weight: 400;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.quantity_number{
    font-weight: 700;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.item_price_container{
    text-align: right;
}

.item_price_grid{
    margin-left: 12px;
    font-size: .875rem;
    line-height: 1.571;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;

}

.price_currency{
    font-size: 1em;
    line-height: 1;
    top: auto;
    unicode-bidi: bidi-override;
}

.subtotal_price_container{
    padding: 24px 24px 12px;
    background: #fffefb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtotal_text{
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-size: 24px;
    font-weight: 700;
    line-height: 1.571;
    margin-right: 30px;
    
}

.subtotal_price_grid{
    display: flex;
    align-items: center;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-size: 26px;
    font-weight: 700;
    line-height: 1.571;
}

.subtotal_price_currency{
    top: -0.727em;
    unicode-bidi: bidi-override;
    font-size: 0.5em;
    line-height: 1.3;
    position: relative;
}

.button_container{
    padding: 24px 24px 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    background: #fffefb;
}

.button_grid{
    display: flex;
}

.buyAgain_container{
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    gap: 0.5rem;
}

.buyAgain_btn{
    align-items: center;
    border-radius: 64px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    min-height: 2.5rem;
    padding: 0 1.5rem;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.4,1);
    width: 100%;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1.3333333333;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    text-decoration: none;
    border: 1px solid #e1e1e1;
    background: none;
    cursor: pointer;
    transition: all .3s ease;
}

.buyAgain_btn:hover{
    background: #e1e1e1;
}

.rating_product_container{
    grid-column: 2/span 11;
    justify-self: stretch;
    max-height: 250rem;
    overflow: hidden;
    position: relative;
    font-size: .875rem;
    padding: 1rem 0 1rem 0;
    border-block-end: 1px solid #d3d3d3;
    cursor: pointer;
}

.rating_product_container:hover{
    background: #e1e1e1;
}

.rating_product_grid{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.rating_product_image{
    height: 8.75rem;
    max-height: 8.75rem;
    max-width: 8.75rem;
    width: 8.75rem;
}

.rating_product_details_container{
    margin-inline-start: 4rem;
    flex: 1 1;
}

.rating_product_details_grid{
    padding-top: 1.375rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    display: flex;
    line-height: 1;
}

.item_detail_container{
    flex: 1 1;
    margin-inline-end: 1rem;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}

.item_detail_wrapper{
    margin-bottom: 0.25rem;
    font-size: .875rem;
    line-height: 1.571;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-weight: 700;
    order: 2;
    text-transform: uppercase;
}

.item_name_a{
    text-decoration: none;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    background-color: transparent;
}

.item_detail{
    display: block;
    font-weight: 400;
    order: 2;
    text-transform: none;
    font-size: .875rem;
    line-height: 1.571;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
}

.category{
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.detail{
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.items_quantity{
    flex-basis: 100%;
}

.quantity_text{
    margin-block-end: 0.25rem;
    display: flex;
    font-weight: 400;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.quantity_number{
    font-weight: 700;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
    margin-left: 5px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px; /* Adjust the margin as needed */
}

.product-label {
    margin-top:  5px; /* Adjust the margin as needed */
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: 1rem;
    line-height: 1.571;
}