*{
    margin: 0;
    padding: 0;
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif;
    list-style: none;
}
body{
    background-color: white;
    padding: 0px;
    
}

.contant {
    padding: 0px 0px 0px 20px
}

/* Home Heading */
.text-box{
    width:100%;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 65px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}

/* Visit Us Button*/
.visitus{
    display:inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 35px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
}
/* Visit Us  Hover */
.visitus:hover{
    border: 1px solid rgb(110, 5, 5);
    background: rgb(110, 5, 5);
    transition: 0.6s;
}

/* Hide the icon*/
nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 14px;
        color: white;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(110, 5, 5);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 20px;
    }
}

/* Search bar */
.form-control{
    width: 170px;
    height: 3px;
    border: 2px solid #7a7a7a;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
    color:black;
}

.search-content{
    width: 160px;
    padding: 5px;
    border-radius: 9px;
    border: solid thin #aaa;
    outline: none;
    text-align: left;
    background: white;
    display:none;
}

.form-control:focus + .search-content {
    display: unset;
    width: 100%;
    padding: 4px;
    border-radius: 9px;
    border: solid thin #aaa;
    outline: none;
}

.list-group-item{
    text-align: left; 
    width: 100%;
    outline: none;
    cursor:pointer;
    border:none;
    background: white;
    font-size: 15px;
}

.list-group-item:hover{
    background: #aaa;
}



/* main */
.card-wrapper{
    max-width: 1100px;
    margin: 50px auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
    width: 150px;
    height: 150px;
    margin-bottom: 5rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.lenght_info{
    color: #484848;
    font-weight: 14px;
    margin-bottom: 1.25rem;
}

.product-rating{
    color: #484848;
}
.product-rating span{
    font-size: 14px;
    color: #484848;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #111111;
    font-weight: bold;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 1.25rem;
    font-size: 24px;
}
.product-detail p{
    font-size: 16px;
    padding: 0rem;
    opacity: 0.8;
    color: #484848;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(../image/bed1.avif) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    width: 400px;
    height: 60px;
}
.purchase-info input{
    width: 120px;
    height: 25px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:last-of-type{
    background: #111;
    transition: 0.3s;
}
.purchase-info .btn:hover{
    transform: translateY(-5px);
    background: #484848;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}

.more-info{
    margin: 1.5rem;
}

.more-info span{
    font-size: 14px;
    color: #484848;
}

.more-info i{
    margin: 1.5rem ;
    font-size: 22px;
}

.rm{
    top: -0.727em;
    unicode-bidi: bidi-override;
    position: relative;
    font-size: 14px;
    line-height: 1.3;
}

.product_price{
    font-size: 28px;
}

.review_container{
    padding: 0px 200px;
    justify-content: center;
    align-items: center;
}

.review_wrapper{
    border-top: 1px solid rgb(var(--colour-neutral-3,223,223,223));
    border-bottom: 1px solid rgb(var(--colour-neutral-3,223,223,223));
    padding-block-start: 2.5rem;
    padding-block-end: 2.5rem;
}

.review_title{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
}

.review_star_filter_container{
    margin-top: 1rem;
}

.review_star_filter{
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-radius: 10px;
}

.review_filter_item_container{
    cursor: pointer;
    border-radius: 40px;
    user-select: none;
    padding: 16px 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: flex;
    flex: 1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    transition: color .2s;
}

.review_filter_item_container:hover{
    background: #e1e1e1;
}

.review_comment_container{
    padding: 20px 40px;
    word-wrap: break-word;
    border-bottom: 1px solid rgb(var(--colour-neutral-3,223,223,223));
}

.user_image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.user_name{
    font-size: 0.875rem;
    line-height: 1.571;

}

.rating_info{
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.rating_date{
    padding: 4px 0px 0px 50px;
    font-size: 0.875rem;
    line-height: 1.571;
}

.line_review{
    padding: 0px 10px;
}

.review_star{
    font-size: 12px;
}

.user_info_wrapper{
    display: flex;
    text-align: center;
    align-items: center;
}

.comment_text{
    padding: 0 0px 0px 50px;
    margin-bottom: 1.5rem;
}

.prof_image_container{
    display: flex;
    padding: 0px 0px 0px 50px;
    object-fit: cover;
    
}

.prof_image_wrapper{
    height: 80px;
    width: 80px;
    padding: 0px 20px 0px 0;
}

.quantity_wrapper{
    padding: 0 0.25rem;
    align-items: center;
    background-color: rgb(var(--colour-interactive-subtle-bg-default,255,255,255));
    border: 0;
    border-radius: 64px;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    height: 40px;
    width: 120px;
    margin-top: 1rem;
    border: 1px solid #a1a1a1;
}

.stepper_input{
    width: 3ch;

    padding: 0.5rem 0.25rem;

    background-color: rgb(var(--colour-interactive-subtle-bg-default,255,255,255));
    border: none;
    box-sizing: initial;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-weight: 700;
    max-width: 5ch;
    min-width: 2.5rem;
    order: 2;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    overflow: visible;
    line-height: 1.5;
    margin: 0;
    outline: none;
    height: 30px;
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

.quantity_option_btn_increase{
    order: 3;

    font-size: .75rem;
    line-height: 1.3333333333;

    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    text-decoration: none;

    background: none;
    border: 0;
    border-radius: 64px;
    height: 30px;
    width: 30px;
    align-items: center;
    cursor: pointer;
    display: inline-flex; 
    font-weight: 700;
    outline: 0;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: top;

    font-family: inherit;

    text-transform: none;

    overflow: visible;
    margin: 0px;
}

.quantity_option_btn_increase:hover{
    background-color: #d3d3d3;
}

.btn_inner_plus{
    min-height: 2rem;
    padding: 0 0.25rem;

    align-items: center;
    border-radius: 64px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    transition-duration: .25s;
    transition-property: opacity,transform,-webkit-transform;
    transition-timing-function: cubic-bezier(.4,0,.4,1);
    width: 100%;
}

.quantityOption{
    margin: 10px;
    transition-duration: .2s;
    transition-property: opacity,margin-right,margin-left,transform,-webkit-transform;
    transition-timing-function: cubic-bezier(.4,0,.4,1);
    flex-shrink: 0;
    fill: currentColor;
    display: flex;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.quantity_option_btn_decrease{
    order: 1;

    font-size: .75rem;
    line-height: 1.3333333333;

    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    text-decoration: none;

    background: none;
    border: 0;
    border-radius: 64px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: inline-flex;
    font-weight: 700;
    outline: 0;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: top;
    text-transform: none;
    overflow: visible;
    margin: 0;
}

.quantity_option_btn_decrease:hover{
    background-color: #d3d3d3;
}

.btn_inner_minus{
    min-height: 2rem;
    padding: 0 0.25rem;
    align-items: center;
    border-radius: 64px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    transition-duration: .25s;
    transition-property: opacity,transform,-webkit-transform;
    transition-timing-function: cubic-bezier(.4,0,.4,1);
    width: 100%;
    outline: none;
}