*{
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif;
}

.haj{
    margin-bottom: 1rem;
    margin-left: auto;
    color: #111111;
    font-size: 2.25rem;
    letter-spacing: -.0063em;
    line-height: 1.333;
    word-wrap: break-word;
    font-weight: 900;
}

.grid_title{
    text-align: start;
}

.grid_title{
    grid-column: 1/ -1;
}

.log_text{
    font-size: 14px;
    color: #484848;
}

.log_button{
    display: inline;
    font-weight: 700;
    margin: 0;
    padding-inline: 0.25rem;
    background: none;
    border: none;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
    width: max-content;
    cursor: pointer;
    transition: .3s;
}

.log_button:hover{
    transform: translateY(-5px);
    color: #6c5ce7;
}

.spaka_image{
    display: block;
    height: auto;
    max-width: 100%;
    position: relative;
}

img{
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.container_left{
    display: block;
    margin-bottom: 1rem;
    position: relative;
}

.grid_container{
    padding-inline: 1.25rem 2.5rem;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,12fr));
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    margin-inline: auto;
    margin-bottom: 5.5rem;
    margin-left: 200px;
    margin-top: 4rem;
    max-width: 112rem;
}

.card_container{
    background-color: #6f5c52;
    padding: 2rem 1.625rem 2rem 2rem;
}

.card_content h1{
    margin-bottom: 1rem;
    font-size: 36px;
    margin-left: auto;
}

.card_content{
    color: rgb(var(--colour-static-white,255,255,255));
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.0042em;
    line-height: 1.45;
}

.container_right{
    padding: 0 2rem;
    width: 560px;
}

h2{
    color: #111111;
    display: inherit;
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.list{
    padding-inline: 1rem;
    border-top: 1px solid rgb(var(--colour-elevation-1-border,223,223,223));
    align-items: center;
}

.btn_list{
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: #fff;
    min-height: 5.5rem;
    padding-block-end: 1.25rem;
    padding-block-start: 1.25rem;
    align-items: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    display: flex;
    justify-content: space-between;
    line-height: 1.571;
    outline: none;
    padding: 0;
    text-align: inherit;
    text-decoration: none;
    width: 100%;
    
}

.btn_list:hover{
    text-decoration: underline;
}

.icon{
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    flex-shrink: 0;
    margin-inline-end: 1rem;
    
}

.span_list{
    align-items: center;
    display: flex;
    flex-grow: 1;
}
    
.list_item{
    flex-grow: 1;
    padding-inline-end: 1rem;
    
}

.list_content_main{
    text-align: left;
    font-weight: 700;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    display: block;
    font-size: .875rem;
    line-height: 1.571;
}

.list_content_sec{
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    display: block;
    font-size: .875rem;
    line-height: 1.5714285714;
}