.main_grid{
    padding-inline: 1.25rem 2.5rem;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(13,minmax(0,1fr));
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    box-sizing: border-box;
    margin-top: 0.75rem;
    margin-inline: auto;
    max-width: 112rem;
    justify-content: space-between;
    display: flex;
}

.right_container{
    margin-left: 50px;
    max-width: 70rem;
    width: 100%;
}

.rating_text_container{
    margin-bottom: 2rem;
    text-align: start;
}

.rating_product_container{
    grid-column: 2/span 11;
    justify-self: stretch;
    max-height: 250rem;
    overflow: hidden;
    position: relative;
    font-size: .875rem;
    padding: 4.5rem 0 2.5rem 0;
    border-block-end: 1px solid #d3d3d3;
}

.rating_product_grid{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.rating_product_image{
    height: 8.75rem;
    max-height: 8.75rem;
    max-width: 8.75rem;
    width: 8.75rem;
}

.rating_product_details_container{
    margin-inline-start: 4rem;
    flex: 1 1;
}

.rating_product_details_grid{
    padding-top: 1.375rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    display: flex;
    line-height: 1;
}

.item_detail_container{
    flex: 1 1;
    margin-inline-end: 1rem;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}

.item_detail_wrapper{
    margin-bottom: 0.25rem;
    font-size: .875rem;
    line-height: 1.571;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    font-weight: 700;
    order: 2;
    text-transform: uppercase;
}

.item_name_a{
    text-decoration: none;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    background-color: transparent;
}

.item_detail{
    display: block;
    font-weight: 400;
    order: 2;
    text-transform: none;
    font-size: .875rem;
    line-height: 1.571;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
}

.category{
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.detail{
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.items_quantity{
    flex-basis: 100%;
}

.quantity_text{
    margin-block-end: 0.25rem;
    display: flex;
    font-weight: 400;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
}

.quantity_number{
    font-weight: 700;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    font-size: .875rem;
    line-height: 1.571;
    margin-left: 5px;
}

.rating_star_container{
    grid-column: 2/span 11;
    justify-content: space-between;
    width: 400px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.radio_star{
    display: none;
}

.rating_star_icon{
    font-size: 1.875rem;
    color: #484848;
    padding: 10px;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease;
}

.radio_star:not(:checked) ~ .rating_star_icon:hover,
.radio_star:not(:checked) ~ .rating_star_icon:hover ~ .rating_star_icon{
    color: #fd4;
}

.radio_star:checked ~ .rating_star_icon{
    color: #fd4;
}

.radio_star#rate-5:checked ~ .rating_star_icon{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

.rating_product_reason_container{
    grid-column: 2/span 11;
    justify-self: stretch;
}

.rating_product_reason_wrapper{
    display: block;
    margin-bottom: 1.25rem;
}

.rating_product_reason_name{
    display: block;
    margin: 0 0 0.125rem;
    font-size: .875rem;
    line-height: 1.571;
    color: rgb(var(--colour-text-and-icon-2,72,72,72));
    cursor: default;
}

.rating_product_reason_inputfield{
    align-items: center;
    background: #fff;
    background: rgb(var(--colour-neutral-1,255,255,255));
    border-radius: 4px;
    display: flex;
    position: relative;
    width: 550px;
    border: 1px solid #a2a2a2;
}

.rating_product_reasons{
    background: none;
    border: 0;
    border-radius: 4px;
    color: rgb(var(--colour-text-and-icon-1,17,17,17));
    flex-grow: 1;
    font-size: 1rem;
    height: 10rem;
    line-height: 1.5;
    order: 3;
    outline: none;
    overflow: hidden;
    padding: 0;
    padding-inline-end: 0.5rem;
    padding-inline-start: 0.5rem;
}

.rating_product_reason_span{
    border-radius: 4px;
    bottom: 0;
    box-sizing: border-box;
    display: block;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: box-shadow .1s cubic-bezier(.4,0,.4,1),border .1s cubic-bezier(.4,0,.4,1);
    width: 100%;
}

.rating_product_reasons::after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.rating_product_reasons.open::after {
    transform: translateY(-50%) rotate(180deg); /* Rotate the arrow up when the select is open */
}

.submit_btn_container{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.submit_btn{
    border: 0;
    border-radius: 64px;
    cursor: pointer;
    display: inline-flex;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.4285714286;
    outline: 0;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: top;
}

.submit_btn_wrapper:hover{
    background: #a1a1a1;
}

.submit_btn_wrapper{
    background: #000;
    color: #fff;
    width: 100%;
    align-items: center;
    border-radius: 64px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    min-height: 3.5rem;
    padding: 0 6rem;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.4,1);
    width: 100%;
}

.back_btn{
    background: #000;
    color: #fff;
    align-items: center;
    border-radius: 64px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    min-height: 3.5rem;
    padding: 0 6rem;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.4,1);
    text-decoration: none;
}

.back_btn:hover{
    background: #a1a1a1;
}


/* drop image design */

.drop_image_container{
    grid-column: 2/span 11;
    justify-self: stretch;
    margin-bottom: 2rem;
}

ul{
    list-style: none;
}

.file_container{
    max-width: 500px;
    width: 250px;
}

.file_upload{
    border: 2px dashed #ababab;
    position: relative; 
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    display: flex;   
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: #fff;
}

.file_upload input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.drop_text{
    font-weight: 400;
    font-size: 0.875rem;
    color: #484848;
}

.add_file{
    border: 0;
    outline: 0;
    border-radius: 50%;
    color: #fff;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-background: #b2b2b2;
    background: #b2b2b2;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.add_file_icon{
    font-size: 1.3rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.file_upload:hover button{
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}

.list_upload{
    padding: 0 1rem;
}

.list_upload ul li{
    position: relative;
    display: flex;
    margin: 2rem 0;
    padding-right: 2rem;
}

.list_upload .thumbnail{
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 7px;
    background-color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.list_upload .thumbnail > i {
    font-size: 2rem;
    color: #000;
    display: none;
}

.file_list.image .thumbnail > [name="image_outline"],
.file_list.video .thumbnail > [name="videocam_outline"] {
    font-size: 2rem;
    color: #000;
    display: block;
}

.list_upload .thumbnail .complete{
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2ecc71;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.properties{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    gap: 5px;
}

.properties .titles{
    font-size: 0.875rem;
    font-weight: 700;
    word-break: break-word;
}

.properties .size{
    color: #484848;
    font-size: 12px;
}

.list_upload .properties :where(.progress,.buffer){
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.list_upload .properties .buffer{
    width: 50%;
    background: linear-gradient(90deg, #82f4b1 0%, #2ecc71 100%);
    -webkit-background: linear-gradient(90deg, #82f4b1 0%, #2ecc71 100%);
}

.list_upload .properties .percentage{
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 10px;
}

.remove{
    position: absolute;
    right: 0;
    top: 50%;
    border: 0;
    outline: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border-radius: 50%;
    background-color: #ff6b81;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.remove:hover{
    background: #ff0026;
}

.list_upload ul li {
    width: 500px; /* Set width for li with class "image" */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: 5% auto;
    width: 80%;
    max-width: 700px;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* end drop image design */


/* left content */

.left_container{
    flex-direction: inherit;
    justify-content: space-between;
}

.container{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows:100px 300px;
    grid-gap:10px;
    grid-auto-flow: dense;
    margin-bottom: 5rem;
}

.gallery-item{
    width:100%;
    height:100%;
    position:relative;
}

.gallery-item .image{
    width:100%;
    height:100%;
    overflow:hidden;
    object-fit: cover;
}

.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
    transition:.5s ease-in-out;
    object-fit: cover;
}
.gallery-item:hover .image img{
    transform:scale(1.5);
}

.gallery-item .text{
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    font-size:25px;
    pointer-events:none;
    z-index:4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-item:hover .text{
    opacity:1;
    animation: move-down .3s linear;
    padding:1em;
    width:100%;
    text-align:center;
}

.w-1{
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}
.w-5{
    grid-column: span 5;
}
.w-6{
    grid-column: span 6;
}

.h-1{
    grid-row: span 1;
}
.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 3;
}
.h-4{
    grid-row: span 4;
}
.h-5{
    grid-row: span 5;
}
.h-6{
    grid-row: span 6;
}

@media screen and (max-width:500px){
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
        grid-column:span 1;
    }
}


@keyframes move-down{

    0%{
        top:10%;
    }
    50%{
        top:35%;
    }
    100%{
        top:50%;
    }
}

/* toast */

.toast_wrapper {
    position: fixed;
    top: 30px;
    right: 20px;
  }
  
  .toast {
    width: 400px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
  }
  
  .toast_success {
    width: 100%;
    height: 30px;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 9px 12px #0002;
    border-radius: 7px;
    text-align: center;
    border-left: 8px solid #04c127;
  }
  
  .toast .container {
    display: flex;
    align-items: center;
  }
  
  .toast .icon i {
    font-size: 1.75rem;
    color: #04c127;
  }
  
  .toast .message {
    font-size: 1.07rem;
    margin-left: 12px;
    flex: 1;
  }
  
  .toast .close-icon i {
    color: #aeb0d7;
    cursor: pointer;
    margin-left: 1rem;
    font-size: 25px;
  }
  
  .toast .close-icon i:hover {
    color: var(--dark);
  }
  
  @keyframes show_toast {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
  }
  
  /* end toast */