*{
    margin: 0;
    padding: 0;
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif;
    list-style: none;
}
body{
    background-color: white;
}

.content{
    margin: 20px;
    padding: 0px 50px;
}

/* main */

/* 1 */
.container{
    height: 705px;
}

.right{
    float: right;
    margin-left: 20px;
    margin-bottom: 4.5rem;
}

.imgbed{
    width: 880px;
    padding: 0 0 0 33px;
}

.container p{
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 700px;
    color: #484848;
    display: block;
    font-size: 16px;
}

.container h1{
    font-size: 42px;
    padding-top: calc(2.5rem * 2);
    padding-bottom: 1.25rem;
    color: #111111;
    padding: 80px 0 20px;
}

/* 2 */
.container2{
    height: 705px;
    margin-bottom: 1rem;
}

.left{
    float: left;
    margin-right: 20px;
    margin-bottom: 4.5rem;
}

.imgbed2{
    width: 650px;
    padding: 0 40px 0 0;
    display: flex;
}

.container2 p{
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 700px;
    color: #484848;
    font-size: 16px;
}

.container2 h1{
    font-size: 32px;
    padding-top: calc(2.5rem * 2);
    padding-bottom: 1.25rem;
    color: #111111;
    padding: 80px 0 20px;
}

/* Carsousel */
.post-slider{
    position: relative;
}

.post-slider .next{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #000;
    cursor: pointer;
}

.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #000;
    cursor: pointer;
}

.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
    flex-wrap: wrap;
}

.post-slider .post-wrapper .post{
    position: relative;
    height: 330px;
    width: 300px;
    margin: 0px 15px;
    display: inline-block;
    background: #000;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.post-slider .post-wrapper .post img{
    width: 100%;
    transition: all linear 0.7s;
}

img.slider-image2{
    position: absolute;
    opacity: 0;
}

.post-slider .post-wrapper .post:hover img{
    opacity: 0;
}

.post-slider .post-wrapper .post:hover img.slider-image2{
    opacity: 1;
}

.post-slider .post-wrapper .post .post-info{
    height: 130px;
    padding: 0px 5px;
}

.post-slider .post-wrapper .post .slider-image2{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    object-fit: cover;
}


.post-info a{
    text-decoration: none;
    color: #111111;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    line-height: 30px;
    font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #000;
	display: block;
	transition: all 0.3s ease;
}

.post-info a:hover{
    color: #7a7a7a;
	padding-left: 8px;
}


